dbdata/
.env

# Dependency directories
node_modules/

# Compiled JavaScript files
dist/

# TypeScript source map files
*.d.ts.map

# TypeScript build info file
tsconfig.tsbuildinfo

# Editor-specific files and folders
.vscode/
.idea/

# npm package files
package-lock.json
npm-debug.log

